@model ExerciseGO.Models.Video

<div class="outer">
    <h1 id="videoTitle">@Html.DisplayFor(model => model.VideoName)</h1>
    <div class="thumbnail container" id="videoThumbnail">
        <iframe class="inner" src="@Html.DisplayFor(model => model.VideoLink)"></iframe>
    </div>
</div>
