<div class="parallax">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <h1 style="font-family: 'Permanent Marker', cursive; color:ghostwhite;padding-top:400px;padding-right:20px;font-size:70px;">ExerciseGO</h1>
</div>
<div class="row dividerShadow" id="divider">
    <h1 style="color:#20e278; font-family: 'Permanent Marker', cursive;">TARGET AREAS</h1>
</div>

<div class="container-fluid" id="divContainer" style="margin-top:10px; ">
    <div class="row" style="margin-left:70px; margin-top:.5px;">
        <div class="col-md-4 col-sm-12 divGrid" onclick="openWindow();">
            <img class="img-responsive picOpacity" src="~/Content/Image/rsz_legs2.jpg" style="width:390px;" />
            <h1 id="text">LEGS</h1>
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="openWindowOne();">
            <img class="img-responsive picOpacity" src="~/Content/Image/rsz_1arms.jpg" style="width:390px; margin-right:.5px;" />
            <h1 id="text">ARMS</h1>
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="openWindowTwo();">
            <img class="img-responsive picOpacity" src="~/Content/Image/rsz_back.jpg" style="margin-left:.5px;" />
            <h1 id="text">BACK</h1>
        </div>
    </div>
    <div class="row" style="margin-left:70px; margin-top:.5px;">
        <div class="col-md-4 col-sm-12 divGrid" onclick="openWindowThree();">
            <img class="img-responsive picOpacity" src="~/Content/Image/rsz_chest.jpg" style="width:390px; " />
            <h1 id="text">CHEST</h1>
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="openWindowFour();">
            <img class="img-responsive picOpacity" src="~/Content/Image/rsz_abs.jpg" style="margin-right:.5px;" />
            <h1 id="text">ABS</h1>
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="openWindowFive();">
            <img class="img-responsive picOpacity" src="~/Content/Image/rsz_cardio.jpg" style="margin-left:.5px;" />
            <h1 id="text">CARDIO</h1>
        </div>
    </div>
</div>

@*legs div*@
<div class="container" id="legs">
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#legsActivity">Legs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: barbell assisted squats</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="arrow" style="float:right;" onclick="closeWindow();"></a>
            <a href="~/Videos/Details/4" ><img class="img-responsive picPad picBorder" src="~/Content/Image/M Squats.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#legsActivity">Legs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: ski squat</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/3"><img class="img-responsive picPad picBorder" src="~/Content/Image/F Squats.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#legsActivity">Legs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/3"><img class="img-responsive picPad picBorder" src="~/Content/Image/F Squats.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#legsActivity">Legs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/3"><img class="img-responsive picPad picBorder" src="~/Content/Image/F Squats.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#legsActivity">Legs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/3"><img class="img-responsive picPad picBorder" src="~/Content/Image/F Squats.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#legsActivity">Legs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/3"><img class="img-responsive picPad picBorder" src="~/Content/Image/F Squats.png" /></a>
        </div>
    </div>
</div>

@*arms div*@
<div class="container" id="arms" style="display:none; margin-top: 10px;">
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#armsActivity">Arms Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: perfect bicep curl.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="arrow" style="float:right;" onclick="closeWindowOne();"></a>
            <a href="~/Videos/Details/12"><img class="img-responsive picPad picBorder" src="~/Content/Image/menBicepScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#armsActivity">Arms Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: perfect bicep curl.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/21"><img class="img-responsive picPad picBorder" src="~/Content/Image/bicepScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#armsActivity">Arms Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: perfect bicep curl.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/21"><img class="img-responsive picPad picBorder" src="~/Content/Image/bicepScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#armsActivity">Arms Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: perfect bicep curl.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/21"><img class="img-responsive picPad picBorder" src="~/Content/Image/bicepScreenshot.jpg" /></a>
        </div>
    </div>
</div>

@*back div*@
<div class="container" id="back" style="display:none; margin-top: 10px;">
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#backActivity">Back Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: lower back focused dumbbell lift.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="arrow" style="float:right;" onclick="closeWindowTwo();"></a>
            <a href="~/Videos/Details/18"><img class="img-responsive picPad picBorder" src="~/Content/Image/mensBackScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#backActivity">Back Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: bent-over-row, bent-over-wide-row, single arm front lat cable pull, and the side lat cable pull down.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/25"><img class="img-responsive picPad picBorder" src="~/Content/Image/backScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#backActivity">Back Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: bent-over-row, bent-over-wide-row, single arm front lat cable pull, and the side lat cable pull down.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/25"><img class="img-responsive picPad picBorder" src="~/Content/Image/backScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#backActivity">Back Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: bent-over-row, bent-over-wide-row, single arm front lat cable pull, and the side lat cable pull down.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <a href="~/Videos/Details/25"><img class="img-responsive picPad picBorder" src="~/Content/Image/backScreenshot.jpg" /></a>
    </div>
</div>

@*chest div*@
<div class="container" id="chest" style="display:none; margin-top: 10px;">
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#chestActivity">Chest Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercise shown: inclined dumbbell press.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="arrow" style="float:right;" onclick="closeWindowThree();"></a>
            <a href="~/Videos/Details/16"><img class="img-responsive picPad picBorder" src="~/Content/Image/M Chest.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv bottomRadius">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#backActivity">Back Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/24"><img class="img-responsive picPad picBorder" src="~/Content/Image/chestScreenshot.jpg" /></a>
        </div>
    </div>
</div>

@*abs div*@
<div class="container" id="abs" style="display:none; margin-top: 10px;">
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#absActivity">Abs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="arrow" style="float:right;" onclick="closeWindowFour();"></a>
            <a href="~/Videos/Details/15"><img class="img-responsive picPad picBorder" src="~/Content/Image/M Abs.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#absActivity">Abs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/19"><img class="img-responsive picPad picBorder" src="~/Content/Image/abScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#absActivity">Abs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/24"><img class="img-responsive picPad picBorder" src="~/Content/Image/chestScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#absActivity">Abs Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/24"><img class="img-responsive picPad picBorder" src="~/Content/Image/chestScreenshot.jpg" /></a>
        </div>
    </div>
</div>

@*Cardio div*@
<div class="container" id="cardio" style="display:none; margin-top: 10px;">
    <div class="row popUpDiv ">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#cardioActivity">Cardio Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="#" class="arrow" style="float:right;" onclick="closeWindowFive();"></a>
            <a href="~/Videos/Details/9"><img class="img-responsive picPad picBorder" src="~/Content/Image/M Abs.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#cardioActivity">Cardio Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/10"><img class="img-responsive picPad picBorder" src="~/Content/Image/abScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="row topBtnPos"><a class="btnColor">Record Activity</a></div>
                    <div class="row bottomBtnPos"><a class="btnColor" href="~/ActivityLogs/Index?#cardioActivity">Cardio Activity History</a></div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="margin-top: 100px; text-align:left;">
                        <h4>Exercises shown: inclined dumbell press, the typical bench press, inclined bench press, and machine assisted cable-fly.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/10"><img class="img-responsive picPad picBorder" src="~/Content/Image/abScreenshot.jpg" /></a>
        </div>
    </div>
</div>

